.container {
  //position: fixed;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.heroSection {
  background: linear-gradient(90deg, #003A8C 44%, #80DCF3 98%);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
}

.heroText {
  flex: 1;
  max-width: 50%;
  margin-right: 1rem;

  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
  }

  p {
    font-size: 1.3rem;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
  }
}

.heroLogos {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  .logoImage {
    max-width: 110px;
    height: auto;
  }
}

.processSection {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.processHeader {
  font-size: 1.5rem;
  font-weight: bold;
  color: #04243C;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.whyUse {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.whyCard {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  overflow: hidden;
  max-width: 300px;
  flex: 1 0 250px;
}

.whyIconContainer {
  background: #E6F7FF;
  padding: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whyIcon {
  font-size: 2rem;
  color: #0d6efd;
}

.whyText {
  padding: 1rem;
  font-family: 'Poppins', sans-serif;
}

.processCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.processCard {
  border: 1px solid #ddd;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.processCardTitle {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-family: 'Quicksand', sans-serif;
}

.processCardSubtitle {
  color: #777;
  margin-bottom: 1rem;
  font-family: 'Quicksand', sans-serif;
}

@media screen and (max-width: 600px) {
  .heroText h1 {
    font-size: 2rem;
  }

  .whyIcon {
    font-size: 1.5rem;
  }
}
