.header {
  //position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(90deg, #003A8C 44%, #80DCF3 98%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  color: #fff;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.logoImage {
  height: 38px;
  width: auto;
}

.appName {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.rightSection {
  display: flex;
  align-items: center;
}

.iconBell {
  font-size: 1.5rem;
  cursor: pointer;
}

.avatarUser {
  height: 41px;
  width: auto;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  cursor: pointer;
  margin-left: 1rem;
}

.loginButton {
  background: #fff;
  color: #003A8C;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  margin-left: 1rem;
  transition: 0.3s;

  &:hover {
    background: #e0e0e0;
  }
}

@media screen and (max-width: 600px) {
  .appName {
    display: none;
  }
}
